* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  height: 100vh;

  font-family: "Karla", sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 320px;
  width: 320px;
  border-radius: 10px;
  background: #f5f5f5;
  padding-inline: 34px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 2px;
  color: #2b283a;
}

.instructions {
  width: 230px;
  height: 48px;

  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #4a4e74;

  margin-bottom: 23px;
}

.die__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 18px;

  margin-bottom: 25px;
}

.die {
  min-height: 36px;
  min-width: 36px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px #00000026;

  font-size: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

button {
  height: 36px;
  padding-inline: 30px;
  border: none;
  outline: none;
  background-color: #5035ff;
  border-radius: 4px;

  color: white;
  font-family: "karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
